diags-013.pdf
diags-014.pdf
diags-015.pdf
diags-016.pdf
diags-017.pdf
diags-018.pdf
diags-019.pdf
diags-020.pdf
diags-021.pdf
diags-022.pdf
diags-023.pdf
diags-concordance.tex
diags-fig1.pdf
diags-fig2.pdf
diags.aux
diags.bbl
diags.blg
diags.log
diags.synctex.gz
diags.tex
diags.toc
diags.Rnw~
